.keep-preview {
    display: flex;
    flex-direction: column;
    /* display: inline; */
    padding: 10px;
    background-color: rgba(189, 120, 120, 0.678);
    width: 100%;
    border-radius: 10px;
    page-break-inside: avoid;
    break-inside: avoid;
    align-items: center;
    margin-bottom: 10px;
}

.note-pannel {
    padding: 20px;
}

.note-pannel input[type=color] {
    height: 40px;
    width: 40px;
}