.keep-preview {
    display: flex;
    flex-direction: column;
    /* display: inline; */
    padding: 10px;
    background-color: rgba(189, 120, 120, 0.678);
    width: 100%;
    border-radius: 10px;
    page-break-inside: avoid;
    break-inside: avoid;
    align-items: center;
    margin-bottom: 10px;
}

.note-panel {
    padding: 20px;
    display: flex;
}

.note-panel input[type=color] {
    height: 40px;
    width: 40px;
    border-width: 0;
    border-radius: 10px;
}

.keep-preview form {
    display: flex;
    padding: 5px;
}

.edit-btn {
    background-image: url(../../../../_PNG\ 64/basic_gear.png);
}

.pin-btn {
    background-image: url(../../../../_PNG\ 64/basic_pin2.png);
}