.mail-side-bar {
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: lightgray;
    padding: 10px;
}

.mail-side-bar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mail-side-bar li {
    text-align: center;
    margin: 30px;
    cursor: pointer;
    width: 100%;
}

.mail-status {
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
}

.mail-status h1 {
    margin: 0 auto;
}

.mail-status .bar-container {
    display: flex;
    background-color: #C8B6FF;
    height: 30px;
    width: 100%;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
}

.bar-container .bar-proccess {
    background-color: #906bff;
    height: 80%;
    border-radius: 35px;
    width: 1%;
    transition: .3s;
}

.mail-filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-bar {
    display: flex;
    flex-direction: column;
}

.compose-ball {
    background-color: #906bff;
    opacity: 70%;
    position: fixed;
    padding: 20px;
    bottom: 85px;
    right: 40px;
    border-radius: 50%;
    display: none;
    cursor: pointer;
}

.compose-icon {
    height: 50px;
}

.mail-filter input {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 16px;
    text-align: center;
}

.mail-filter select,
#sortBy {
    border: none;
    cursor: pointer;
}

#sortBy {
    margin-top: .8rem;
    text-align: center;
}

.compose-icon-side {
    height: 50px;
    background-color: rgba(212, 0, 255, 0.269);
    padding: 20px;
    border-radius: 50%;
}

@media screen and (max-width: 700px) {
    .search-bar {
        flex-direction: row;
    }
    .mail-filter {
        flex-direction: row;
    }
    .mail-side-bar ul {
        flex-direction: row;
    }
    #byText {
        width: 7rem;
    }
    .mail-nav ul {
        height: 30px;
    }
    .compose-ball {
        display: block;
        z-index: 0;
    }
    .compose {
        display: none;
    }
    #sortBy {
        margin-left: .8rem;
        margin-top: 0;
    }
}