.mail-preview {
    display: flex;
    flex-direction: column;
}

.unread {
    font-family: quicksandbold;
}

.mail-reduced-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.mail-reduced-preview h1 {
    margin-left: 30px;
    font-size: larger;
}

.mail-reduced-preview .icon {
    height: 25px;
    width: auto;
}

.stared {
    color: rgb(198, 198, 7);
}

.upper-preview {
    display: flex;
    justify-content: space-between;
}

.preview-actions {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.mail-extended-preview h1 {
    font-size: x-large;
    margin-left: 30px;
}

.mail-extended-preview img {
    height: 25px;
    width: auto;
}

.mail-extended-preview {
    display: flex;
    flex-direction: column;
}

.content-preview .note-img {
    height: 150px;
}

.content-preview {
    display: flex;
    justify-content: center;
}

.mail-extended-preview p {
    text-align: center;
}

.mail-extended-preview h6 {
    margin-left: 20px;
    font-size: larger;
    margin: 0 0 0 40px;
}

.mail-extended-preview small {
    color: rgb(177, 177, 177);
}

.mail-reduced-preview h3 {
    margin-left: 20px;
}

.mail-reduced-preview small {
    margin-right: 20px;
}

.mail-layout {
    display: flex;
}

.mail-side-bar {
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: lightgray;
    padding: 10px;
}

.mail-list {
    flex-basis: 80%;
    height: 600px;
    overflow: auto;
}

.mail-list h1 {
    display: flex;
    justify-content: center;
}

.mail-side-bar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mail-side-bar li {
    text-align: center;
    margin: 30px;
    cursor: pointer;
    width: 100%;
}

.mail-full h1 {
    font-size: 3rem;
    margin: 30px 0 0 20px;
}

.mail-full small {
    color: rgb(177, 177, 177);
}

.mail-full img {
    height: 40px;
}

.mail-full .upper {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}

.mail-full .content {
    display: flex;
    justify-content: center;
    height: 400px;
    align-items: center;
}

.mail-full .content img {
    height: 80%;
}

.mail-full .upper h6 {
    font-size: 25px
}

.mail-full .actions {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.mail-status {
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
}

.mail-status h1 {
    margin: 0 auto;
}

.mail-status .bar-container {
    display: flex;
    background-color: #C8B6FF;
    height: 30px;
    width: 100%;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
}

.bar-container .bar-proccess {
    background-color: #906bff;
    height: 80%;
    border-radius: 35px;
    width: 1%;
    transition: .3s;
}

.mail-filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-mail h1 {
    text-align: center;
}

.mail-form {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}

.mail-form input {
    border: 2px solid black;
    height: 40px;
}

.mail-form textarea {
    resize: none;
    margin-top: 1px;
    border: 2px solid black;
}

.mail-form ::placeholder {
    font-size: larger;
}

.add-mail .actions {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.add-mail img {
    height: 40px;
}

.fullscreen-icon,
.note-icon {
    margin-left: 5px;
    margin-top: 5px
}