@import './mailPreview.css';
@import './mailList.css';
@import './mailSideBar.css';
@import './mailDetails.css';
.mail-layout {
    display: flex;
}

.add-mail h1 {
    text-align: center;
}

.mail-form {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}

.mail-form input {
    border: 2px solid black;
    height: 40px;
}

.mail-form textarea {
    resize: none;
    margin-top: 1px;
    border: 2px solid black;
}

.mail-form ::placeholder {
    font-size: larger;
}

.add-mail .actions {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.add-mail img {
    height: 40px;
}

@media screen and (max-width: 700px) {
    .mail-layout {
        flex-direction: column;
    }
}