body {
    font-family: quicksand;
    margin: 0;
}

footer {
    display: flex;
    margin: 0;
    height: 5rem;
    background-color: #C8B6FF;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}