@font-face {
    font-family: 'quicksand';
    src: url('../fonts/Quicksand/Quicksand-Regular.ttf');
}

@font-face {
    font-family: 'lobster';
    src: url('../fonts/Lobster/Lobster-Regular.ttf');
}

@font-face {
    font-family: 'quicksandbold';
    src: url('../fonts/Quicksand/Quicksand-Bold.ttf');
}