body {
    background-color: #FFD6FF;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.home-container img {
    height: auto;
    max-width: 400px;
}

.home-container div {
    text-align: center;
    cursor: auto;
}

.home-title {
    text-align: center;
    font-size: 5rem;
}

@media screen and (max-width: 1300px) {}

@media screen and (max-width: 500px) {
    .home-container div {
        font-size: 0.7rem;
    }
    .home-title {
        font-size: 2rem;
    }
    .home-container img {
        max-height: 100px;
        width: auto;
    }
}