.clean-list {
    list-style: none;
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.app-header {
    display: flex;
    justify-content: space-between;
    background-color: #C8B6FF;
    align-items: center;
}

.app-header h1 {
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
    font-family: lobster;
    font-size: 2rem;
}

.app-header h1 a {
    text-decoration: none;
    transition: 0.3s;
    color: whitesmoke;
}

.app-header h1 a:hover {
    color: rgb(236, 235, 235);
}

.app-header ul {
    display: flex;
    margin-left: 20px;
    font-size: 2rem;
}

.app-header li {
    margin-left: 10px;
}

.app-header li a {
    padding: 20px;
    border-radius: 10px;
    color: whitesmoke;
    text-decoration: none;
    transition: .3s;
}

.app-header li a:hover {}

.app-header li .active {
    font-weight: bold;
    color: rgb(145, 145, 145);
}